{# Menu pour le site d'administration #}

<ul>
    <li><a href="{{path('bwf_site_liste_articles')}}">Articles</a></li>
    <li><a href="{{path('bwf_site_liste_formations')}}">Formations</a></li>
    <li><a href="{{path('bwf_site_liste_videos')}}">Videos</a></li>
    <li><a href="{{path('bwf_site_liste_participants')}}">Participants</a></li>
</ul>
